/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@400;600;700&display=swap');
@import './styles/animations.scss';
@import './styles/modal.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #141414;
  font-family: 'Poppins', sans-serif;
}
